In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
train  = pd.read_csv('train_data.csv')
test = pd.read_csv('test_data.csv')

In [3]:
train.sample(5)

,TITLE,GENRE,DESCRIPTION
37624,"TLC: Tables, Ladders & Chairs (2012)",action,Known primarily as one of Brodus Clay's Funka...
32558,Mr Pinkpop (2014),documentary,A portrait of a man with a boundless passion....
51003,Meet the Spartans (2008),comedy,"The heroic Spartan king Leonidas, armed with ..."
5754,Ajab singh ki gajab kahani (2017),drama,This is a Biopic of a handicapped Irs officer...
19345,Drain the Ocean (2009),documentary,"In this National Geographic special, we look ..."

In [6]:
test.sample(5)

,TITLE,GENRE,DESCRIPTION
15148,"""Spider vs Fly"" (2014)",animation,Spider vs. Fly chronicles the never-ending ba...
35983,Pesen za choveka (1954),drama,At the Varna Naval College Vaptzarov recites ...
44679,Song of the Vampire (2001),horror,Buried deep beneath the earth for a hundred y...
20206,El lenguaje de los machetes (2011),drama,Ray and Ramona are a young couple. They hate ...
37295,Maechun 3 (1993),crime,"Lee Hyun, is left with her father's debts to ..."

In [7]:
len(train), len(test)

(54214, 54200)